* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    header{
    width: 50%;
    }
  /*Menu*/
  .naveg{
      width: 1000px;
      margin: -5px auto;
      background: #ffffff;
  }
  .naveg ul{
  list-style: none;
  }
  .menu > li{
  position: relative;
  display: inline-block;
  }
  .menu > li > a{
  display: block;
  padding: 15px 20px;
  color: #fcb530;
  text-decoration: none;
  }
  .menu li a:hover{
      color: #f9fc30;
      transition: all.2s;
  }
  /* Submenu*/
  .submen{
      position: absolute;
      background: #3194a1;
      width: 120%;
      visibility: hidden;
      opacity: 0;
      transition: opacity 1.5s;
  }
  .submen li a{
      display: block;
      padding: 15px;
      color: #fff;
      font-family: 'Open sans';
      text-decoration: none;
  }
  .menu li:hover .submen{
      visibility: visible;
      opacity: 1;
  }